@tailwind base;
@tailwind components;
@tailwind utilities;

.content_bg {
  position: relative;
}

.content_bg::after {
  z-index: -1;
  content: "";
  background-image: url("../public/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

.carousell_bg {
  background-image: url("../public/background.svg");
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
